body {
    background-color: #b3e5fc;
}
#mainBlock {
    height: 100vh;
    width: 100vw;
}
#titleBlock {}
#contentBlock {
    height: 70%;
    width: 55%;
    float: left;
    padding-left: 2em;
    background-color: white;
}
#queueBlock {
    height: 70%;
    width: 30%;
    float: right;
    padding-right: 2em;
    background-color: white;
}
